a:hover {
    text-decoration: underline;
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.scrollbar-hidden {
    -ms-overflow-style: none;
    /* IE и Edge */
    scrollbar-width: none;
    /* Firefox */
}